header {
    text-align: center;
    width: 100%;
}

header h1 {
    cursor: pointer;
}

svg {
    position: relative;
}

.xAxis-label, .yAxis-label {
    font-weight: bold;
}

.xAxis > * > *, .yAxis > * > *, .xAxis path, .yAxis path {
    stroke: #292929;
}

.ant {
    cursor: pointer;
}

polyline:hover, line:hover {
    stroke: var(--selection-color);
}


button {
    border: none;
    background-color: var(--text-color);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    filter: brightness(120%);
}

.container {
    padding: 0 1rem;
}

.card {
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    max-width: 1200px;
    height: 650px;
    border-radius: 5px;
    margin: 0 auto;
}

.tooltip {
    background: var(--text-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
}