@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1rem;
    --text-color: #272727;
    --selection-color: #ddd040;
    background-color: #f4f4f4;
}

